@font-face {
    font-family: 'Nickainley';
    src: url('../fonts/Nickainley-Normal.eot');
    src: url('../fonts/Nickainley-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nickainley-Normal.woff2') format('woff2'),
        url('../fonts/Nickainley-Normal.ttf') format('truetype'),
        url('../fonts/Nickainley-Normal.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
} 
@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/MinionPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  outline: none!important;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  position: relative;
}
img {
  display: block;
  text-decoration: none; 
  border: 0;
}
input {
 border: none;  
 outline: none!important; 
}
input::-ms-clear {
    display: none;
}
textarea {
  resize:none;
  overflow: auto; 
}
input[type="submit"] {
  cursor: pointer;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;   
}
.flex-wrap{
  -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
}
.flex-nowrap {
  -khtml-box-lines:single!important;
  -webkit-box-lines:single!important;
  -ms-flex-wrap:nowrap!important;
  -webkit-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important;
}
.flex-dir-col {
  -webkit-box-orient:vertical;
  -webkit-flex-direction:column;
  flex-direction:column;
} 
.flex-between {
  -webkit-box-pack:justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-around {
  -webkit-box-pack:justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-center {
  -webkit-box-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-end {
  -webkit-box-pack:end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-start {
  -webkit-box-pack:start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex-align-start {
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  align-items:flex-start;
}
.flex-align-center {
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
}
.flex-align-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items:baseline;
  align-items:baseline;
}
.flex-align-end {
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  align-items:flex-end;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.clear::before,
.clear::after {
content: " ";
display: table;
}
.clear::after {
clear: both;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.text-uppercase  {
  text-transform: uppercase;
}
.img-fluid {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
width: 100%;
background: url(../img/cell-bg.png) 50% 0 repeat;
}
.wrapper {
  width: 1180px;
  max-width: calc(100% - 14px);
  margin: 0 auto;
}
.header {
  margin-bottom: 11px;
}
.header-top {
  padding: 41px 0 27px;
font-family: 'Roboto Condensed', sans-serif;
}
.logo {
width: 197px;
}
.logo a {
  display: block;
}
.header__logo {
  margin-right: 29px;
}
.header__info {
  width: calc(100% - 226px);
}
.header__social {
  margin-top: 10px;
}
.header__social__btn {
height: 61px;
font-size: 24px;
font-weight: 700;
line-height: 60px;
}
.header__social__btn-whatsapp {
padding-left: 69px;
background: url(../img/whatsapp.png) 0 0 no-repeat;
color: #30bf39!important;
margin-right: 21px;
}
.header__social__btn-viber {
padding-left: 68px;
background: url(../img/viber.png) 0 0 no-repeat;
color: #7b519d!important;
margin-right: 22px;
}
.header__social__btn-vk {
padding-left: 70px;
background: url(../img/vk.png) 0 0 no-repeat;
color: #2b5b8f!important;
margin-right: 23px;
}
.header__phone {
padding-left: 36px;
margin: 20px auto 0 0;
background: url(../img/phone-blue.png) 0 5px no-repeat;
}
.header__phone a {
display: block;  
font-size: 30px;
line-height: 1.2;
color: #0061b0!important;
}
.header__city {
padding-left: 32px;
background: url(../img/pin-blue.png) 0 0 no-repeat;
margin-top: 25px;
font-size: 30px;
line-height: 1.05;
color: #0061b0!important;
}
.header__city span {
text-decoration: underline;
cursor: pointer;
}
.header-bottom {
background-color: #0d0c07;
background-image: linear-gradient(0.0deg, #b0b0b0 0%, #ffffff 81%, #efefef 100%);
border-radius: 5px;
overflow: hidden;
}
.header__nav {
  padding: 7px 27px 5px 8px;
}
.top-menu {
  list-style: none;
}
.top-menu li a {
  display: block;
  font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #0061b0!important;
padding: 8px 0 9px 0;
white-space: nowrap;
}
.top-menu li:first-child a {
  padding-left: 24px;
  padding-right: 25px;
}
.top-menu li a.price-link {
  font-size: 14px;
  padding: 12px 61px 11px 58px;
  color: #fff!important;
  line-height: 1;
  border-radius: 4px;
  background: #e10408;
box-shadow: 2px 1px 4px 0px rgba(0,0,2,0.4);
}
.top-menu li:nth-child(3) a {
  padding-left: 27px;
  padding-right: 16px;
}
.top-menu li:nth-child(4) a {
  padding-left: 14px;
  padding-right: 12px;
}
.top-menu li:nth-child(5) a {
  padding-left: 23px;
  padding-right: 12px;
}
.header__search {
  width: 380px;
height: 49px;
background-color: #92d0ff;
background-image: linear-gradient(0.0deg, #b0b0b0 0%, #ffffff 81%, #efefef 100%);
border: 1px solid #0061b0;
border-radius: 5px;
overflow: hidden;
margin-left: auto;
}
.top-search-form__input {
  width: 329px;
  height: 47px;
  line-height: 47px;
  padding: 0 22px;
}
.top-search-form__input::placeholder {
  font: 300 italic 12px/47px 'Roboto', sans-serif;
  color: #999;
}
.top-search-form__input::-webkit-input-placeholder {
  font: 300 italic 12px/47px 'Roboto', sans-serif;
  color: #999;
}
.top-search-form__input:-ms-input-placeholder {
  font: 300 italic 12px/47px 'Roboto', sans-serif;
  color: #999;
}
.top-search-form__input::-moz-placeholder {
  font: 300 italic 12px/47px 'Roboto', sans-serif;
  color: #999;
}
.top-search-form__input:-moz-placeholder {
  font: 300 italic 12px/47px 'Roboto', sans-serif;
  color: #999;
}
.top-search-form__submit {
  display: block;
  width: 51px;
  background: url(../img/search.png) 19px 18px no-repeat, #0061b0;
}
.top-search-form__submit:hover {
  background: url(../img/search.png) 19px 18px no-repeat, #92d0ff;
}
.header__link-mbl,
.mbl-menu-btn, 
.get-price-link,
.full-version-link,
.header__mbl-contacts,
.jumbo-mbl,
.text-unfold-btn-wrap {
  display: none;
}
.jumbo {  
height: 514px;
background-image: linear-gradient(0.0deg, #d5e6f4 0%, #0066b8 100%);
padding: 36px 19px 0 24px;
border-radius: 7px;
margin-bottom: 45px;
}
.jumbo__main {
width: 745px;
max-width: 100%;
overflow: hidden;
margin-top: 10px;
}
.jumbo__main__title {
background-image: -webkit-linear-gradient(90.0deg, #15a6e1 0%, #ffffff 100%);
-webkit-background-clip: text;
font-family: 'Impact';
font-size: 90px;
white-space: nowrap;
line-height: .85;
text-transform: uppercase;
color: #fff;
-webkit-text-fill-color: transparent;
}
.jumbo__main__subtitle {
font-size: 30px;
font-family: 'Impact';
letter-spacing: 0.002em;
line-height: 1;
text-transform: uppercase;
color: #fff;
position: relative;
left: 3px;
margin-bottom: 30px;
}
.jumbo__main__subtitle span {
display: block;
padding-left: 46px;
position: relative;
}
.jumbo__main__subtitle span:first-child {
  margin-right: 45px;
}
.jumbo__main__subtitle span:nth-child(2) {
  margin-right: 43px;
}
.jumbo__main__subtitle span::before {
content: '';
display: block;
position: absolute;
top: 2px;
left: 0;
width: 35px;
height: 25px;
background: url(../img/red-check.png) 0 0 no-repeat;
}
.jumbo__main__italic {
font-family: 'Impact';
font-size: 37px;
font-weight: 400;
font-style: italic;
line-height: 1.35;
letter-spacing: 0.181em;
color: #00378b;
margin-bottom: 37px;
}
.jumbo__main__pep {
font-family: 'Impact';
font-weight: 700;
font-size: 60px;
line-height: 1.2;
text-transform: uppercase;
text-shadow: 0px 0px 2px rgba(0,0,2,0.75);
color: #fff;
white-space: nowrap;
-webkit-text-stroke: 1px #ff0000;
margin-bottom: 6px;
}
.jumbo__main__final {
font-family: 'Impact';
font-weight: 700;
text-transform: uppercase; 
color: #15a6e1;
padding-left: 63px;
background: url(../img/red-arrows.png) 0 0 no-repeat;
background-size: contain;
}
.jumbo__main__final__intro { 
font-size: 37.5px;
line-height: 1;
text-shadow: #fff 1.5px 1.5px 0px;
padding-top: 2px;
margin-right: 24px;
}
.jumbo__main__final__intro__btm {
  font-size: 27.2px;
}
.jumbo__main__final__central {
font-size: 74.2px;
text-shadow: #fff 4px 4px 0px;
white-space: nowrap;
line-height: .93;
margin-right: 12px;
}
.jumbo__main__final__outro {
font-size: 43px;
text-shadow: #fff 1.5px 1.5px 0px;
white-space: nowrap;
line-height: .95;
position: relative;
top: 3px;
}
.jumbo__main__final__outro span {
font-size: 25px;
}
.jumbo__side {
width: 312px;
overflow: hidden;
}
.jumbo__side__cursive {
font-family: 'Nickainley';
font-size: 58px;
text-shadow: 2px 1px 2px rgba(0,0,2,0.75);
color: #ff0000;
-webkit-transform: rotate3d(1, 1, 1, -18.5deg);
transform: rotate3d(1, 1, 1, -18.5deg);
position: relative;
top: -2px;
left: 3px;
}
.jumbo__side__cursive-after {
content: '';
display: block;
position: relative;
top: -10px;
width: 308px;
height: 49px;
background: url(../img/text-ornament.png) 0 0 no-repeat;
margin-bottom: 14px;
}
.jumbo__side__group {
font-family: 'Impact';
margin-bottom: 24px;
}
.jumbo__side__group__title {
text-transform: uppercase;
font-size: 28px;
color: #15a6e1;
text-shadow: -3px 0 2px #fff, 0 3px 2px #fff, 3px 0 2px #fff, 0 -3px 2px #fff;
white-space: nowrap;
padding-left: 4px;
margin-bottom: 4px;
}
.jumbo__side__group__text {
font-size: 18px;
line-height: 1.2;
font-style: italic;
letter-spacing: 0.027em;
color: #fff;
white-space: nowrap;
}
.jumbo__side__group-middle .jumbo__side__group__text__top {
letter-spacing: 0.065em;
}
.jumbo__side__group-bottom .jumbo__side__group__text__top {
letter-spacing: 0.067em;
}

.jumbo__side__group-top .jumbo__side__group__text__bottom {
letter-spacing: 0.085em;
}
.jumbo__side__group-middle .jumbo__side__group__text__bottom {
letter-spacing: 0.085em;
}
.jumbo__side__group-bottom .jumbo__side__group__text__bottom {
letter-spacing: 0.099em;
}

.get-price {
  background-color: #70b7df;
  padding: 27px 37px 47px 25px;
  margin-bottom: 56px;
}
.get-price-btm {
  margin-bottom: 51px;
}
.get-price-form__title {
font-size: 50px;
font-weight: 700;
text-transform: uppercase;
color: #fff;
text-align: center;
margin-bottom: 23px;
}
.get-price-form__select,
.get-price-form__input {
width: 359px;
height: 47px;
background: #fff;
padding: 0 17px;
font: 400 14px/47px 'Roboto', sans-serif;
border-radius: 5px;
margin-bottom: 20px;
color: #999;
}
.get-price-form__select {
-webkit-appearance:none;  
appearance:none;
border: none!important;
background: url(../img/select-arr.png) calc(100% - 21px) 21px no-repeat, #fff;
}
.get-price-form__input::placeholder {
font: 400 14px/47px 'Roboto', sans-serif;
color: #999;
}
.get-price-form__input::-webkit-input-placeholder {
font: 400 14px/47px 'Roboto', sans-serif;
color: #999;
}
.get-price-form__input:-ms-input-placeholder {
font: 400 14px/47px 'Roboto', sans-serif;
color: #999;
}
.get-price-form__input::-moz-placeholder {
font: 400 14px/47px 'Roboto', sans-serif;
color: #999;
}
.get-price-form__input:-moz-placeholder {
font: 400 14px/47px 'Roboto', sans-serif;
color: #999;
}
.get-price-form__input-file-wrap {
position: relative;
}
.get-price-form__input-file-wrap::before {
  content: 'Выбрать файл';
  font: 400 14px/47px 'Roboto', sans-serif;
  color: #999;
  position: absolute;
  left: 17px; 
}
.get-price-form__input-file-wrap::after {
content: '';
display: block;
width: 18px;
height: 23px;
background: url(../img/paperclip.png) 0 0 no-repeat;
position: absolute;
top: 12px;
right: 20px;
}
.get-price-form__input-file {
  font-size: 0!important;
}
.get-price-form__input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.get-price-form__submit {
width: 359px;
min-width: 359px;
height: 48px;
background: #0061b0;
color: #fff;
font-size: 16px;
font-weight: 700;
border-radius: 5px;
text-transform: uppercase;
margin-left: auto;
text-align: center;
}
.get-price-form__consent {
color: #fff;
line-height: 15px;
}
.checkbox-container {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
display: inline-block;
width: 15px;
height: 15px;
border-radius: 3px;
background: #fff;
margin-right: 5px;
position: relative;
top: 2px;
}
.checkbox-container input:checked ~ .checkmark {
background: url(../img/check-blue.png) 2px 2px no-repeat,#fff;
}
.pinned {
height: 300px;  
position: relative;
}
.pinned-ok { 
padding: 50px 250px 0 110px;  
background: url(../img/smile-ok.png) calc(100% - 25px) 89px no-repeat, #e5f3f9;  
margin-bottom: 57px;
}
.pinned-delighted {
height: 390px;
padding: 55px 290px 0 84px;
background: url(../img/smile-delighted.png) calc(100% - 26px) 103px no-repeat, #e5f3f9;   
margin-bottom: 45px;
}
.pinned-hm {
padding: 52px 220px 0 55px;
background: url(../img/smile-hm.png) calc(100% - 55px) 67px no-repeat, #e5f3f9;   
margin-bottom: 48px;
}
.pinned::before {
content: '';
display: block;
width: 41px;
height: 49px;
background: url(../img/pin.png) 0 0 no-repeat;
position: absolute;
top: -24px;
left: 16px;
}
.pinned__text {
font-family: 'Nickainley';
font-size: 72px;
line-height: 1.2;
font-weight: 400;
color: #282828;
-webkit-transform: rotate3d(1, 1, 1, -9deg);
transform: rotate3d(1, 1, 1, -9deg);
}
.pinned-ok .pinned__text {
-webkit-transform: rotate3d(1, 1, 1, -10deg);
transform: rotate3d(1, 1, 1, -10deg);
}
.pinned-delighted .pinned__text,
.pinned-hm .pinned__text span {
  text-align: center;
}


.reviews {
padding: 59px 30px 49px;
background: url(../img/reviews-bg.png) 50% 0 repeat;
margin-bottom: 57px;
}
.reviews__title {
width: 714px;
height: 61px ; 
line-height: 1.2;
margin-bottom: 16px;
position: relative;
margin: 0 auto 27px;
}
.reviews__title__letter {
position: absolute;
font-size: 50px;
font-weight: 700;
text-transform: uppercase;
color: #0061b0;
line-height: 1;
}
#letter1 {
left: -1px;  
bottom: 4px;
transform: rotate3d(1, 1, 1, -7.5deg);    
}
#letter2 {
left: 36px;
top: 3px;
transform: rotate3d(1, 1, 1, -6deg);  
}
#letter3 {
top: 2.5px;
left: 71px;
transform: rotate3d(1, 1, 1, -7deg);
}
#letter4 {
top: 1.3px;
left: 103px;
transform: rotate3d(1, 1, 1, -3deg); 
}
#letter5 {
left: 132px;
transform: rotate3d(1, 1, 1, -5deg);
}
#letter6 {
transform: rotate3d(1, 1, 1, -4deg);
top: -2px;
left: 164px;
}
#letter7 {
top: -4px;  
left: 196px;
transform: rotate3d(1, 1, 1, -10deg);
}
#letter8 {
left: 227px;
top: -3px;
}
#letter9 {
left: 271px;
top: -5px;
transform: rotate3d(1, 1, 1, -5deg);
}
#letter10 {
left: 306px;
top: -5px;
}
#letter11 {
left: 342px;
top: -5px;
}
#letter12 {
left: 386px;
top: -5px;
}
#letter13 {
left: 417px;
top: -5px;
}
#letter14 {
left: 461px;
top: -3.5px;
}
#letter15 {
top: -3px;  
left: 492px;
transform: rotate3d(1, 1, 1, 3deg);
}
#letter16 {
top: -1px;
left: 536px;
transform: rotate3d(1, 1, 1, 5deg);
}
#letter17 {
left: 568px;
transform: rotate3d(1, 1, 1, 5deg);
}
#letter18 {
top: 2px;
left: 602px;
transform: rotate3d(1, 1, 1, 8deg);
}
#letter19 {
top: 4px;
left: 638px;
transform: rotate3d(1, 1, 1, 6deg);
}
#letter20 {
top: 6px;  
left: 681px;
transform: rotate3d(1, 1, 1, 5deg);
}
.reviews-item {
width: 350px;
max-width: 32%;
height: 378px;
padding: 31px 16px;
position: relative;
margin-bottom: 54px;
background: url(../img/lines-bg.png) 50% 54px no-repeat, #fff;
}
.reviews-item:first-child,
.reviews-item:last-child {
  top: 30px;
}
.reviews-item__rate {
width: 110px;
height: 19px;
margin: 0 auto 16px;
}
.reviews-item__rate-five {
  background: url(../img/star-yellow.png) 0 0 repeat-x;
}
.reviews-item__rate-four {
  background: url(../img/star-yellow.png) 0 0 no-repeat, 
  url(../img/star-yellow.png) 22px 0 no-repeat,
  url(../img/star-yellow.png) 44px 0 no-repeat,
  url(../img/star-yellow.png) 66px 0 no-repeat,
  url(../img/star-blue.png) 88px 0 no-repeat;
}
.reviews-item__author {
font-size: 18px;
line-height: 24px;
margin-bottom: 10px;
text-align: center;
}
.reviews-item__text {
line-height: 35px;
font-weight: 400;
color: #0761ad;
text-align: center;
margin-bottom: 6px;
}
.reviews-item__date {
 font-size: 12px;
line-height: 24px;
font-weight: 300;
text-align: center; 
}
.review-add-btn {
width: 367px;
height: 73px;
padding-top: 15px;
background-color: #0061b0;  
margin: 0 calc(50% - 192px) 0 auto;
color: #fff!important;
text-align: center;
font-weight: 700;
text-transform: uppercase;
font-size: 18px;
background: url(../img/btn-blue-bg.png) 50% 0 no-repeat;
cursor: pointer;
}
.review-add-btn span {
font-size: 24px;
line-height: 1;  
letter-spacing: 0.17em;
}
.text-innerpage {
  margin-bottom: 54px;
}
.text-indexpage__main-img {
  float: left;
  width: 182px;
  margin-right: 18px;
}
.text-innerpage__main-img {
  float: left;
  width: 187px;
  margin: 0 13px 30px 8px;
}
.text p {
line-height: 30px;  
margin-bottom: 18px;
}
.text-innerpage p {
line-height: 24px;
margin-bottom: 24px;
}
.text-innerpage p:nth-of-type(1) {
  line-height: 30px;
}
.text-indexpage p:first-child,
text-indexpage p:nth-child(2) {
margin-bottom: 30px;
}
.text-indexpage p:last-child {
 margin-bottom: 34px; 
}
.text .h2 {
font-size: 30px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #5ea4e1;
margin: 28px 0 26px;
}
.text .h2:nth-of-type(2) {
margin-top: 19px;
}
.text-innerpage .h2 {
  margin-bottom: 4px;
}
.text .font-minion {
font-family: 'MinionPro', sans-serif;
}
.dotted-ul {
  padding-left: 28px;
  margin: 24px 0;
}
.dotted-ul li {
  list-style: none;
  position: relative;
  padding-left: 10px; 
  line-height: 24px;
}
.dotted-ul li::before {
content: '';
display: block;  
width: 5px;
height: 5px;
border-radius: 50%;
background: #0061b0;
position: absolute;
top: 8px;
left: 0;
}
.color-blue {
  color: #0061b0;
}

.qna {
  padding: 69px 36px 31px 34px;
  background: url(../img/qna-bg.png) 50% 0 repeat;
  margin-bottom: 73px;
}
.qna__title { 
font-size: 50px;
line-height: 1;
font-weight: 700;
text-transform: uppercase;
color: #0061b0;
padding-left: 154px;
margin-bottom: 28px;
}
.qna__title__inner {
position: relative;
display: inline-block; 
}
.qna__title span {
font-family: 'Nickainley', cursive;
font-weight: 400;
text-align: right;
text-transform: none;
}
.qna__title__inner::after {
content: '';
display: block;  
width: 130px;
height: 92px;
background: url(../img/q-mark.png) 0 0 no-repeat;
position: absolute;
top: 7px;
right: -175px;
}
.qna__set {
 background: #fff; 
 border-radius: 5px;
 margin-bottom: 10px;
}
.qna__set__question {
padding: 12px 49px 12px 12px;
font-size: 18px;
line-height: 24px;
color: #0761ad;
position: relative;
cursor: pointer;
}
.qna-arr {
width: 9px;
height: 5px;
background: url(../img/qna-arr.png) 0 0 no-repeat;
position: absolute;
top: 22px;
right: 20px;
}
.qna-arr-rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.qna__set__answer {
display: none;
font-size: 18px;
line-height: 24px;
padding: 13px 50px 32px 13px;
}

.pep-order {
height: 230px;
background: #70b7df;
padding: 18px 0 33px;
text-align: center;
color: #fff;
margin-bottom: 52px;
}
.pep-order__title {
font-family: 'Nickainley', cursive;
font-size: 40px;
line-height: 1.2;
margin-bottom: 9px;
}
.pep-order__line {
font-size: 50px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 15px;
}
.pep-order-btn {
width: 360px;
height: 48px;
background: #fff;
cursor: pointer;
font-size: 16px;
line-height: 48px;
font-weight: 700;
text-transform: uppercase;
color: #5ea3df;
border-radius: 5px;
text-align: center;
position: relative;
margin: 0 auto;
}
.pep-order-btn::before {
content: '';
width: 132px;
height: 44px;
background: url(../img/figure-arrow-red.png) 0 0 no-repeat;
position: absolute;
top: -2px;
left: -145px;
}

.breadcrumbs {
text-transform: uppercase;
color: #0061b0;
padding: 6px 0 15px;
font-weight: 400;
font-family: 'Roboto', sans-serif;
line-height: 24px;
}
.breadcrumbs a {
color: #0061b0!important;
}
.breadcrumbs a:hover {
text-decoration: underline;
}
.separator {
  font-family: 'MinionPro', sans-serif;
}
.offer-panel {
padding: 45px 124px 50px 87px;  
background-image: linear-gradient(0.0deg, #d5e6f4 0%, #0665b3 100%);
margin-bottom: 57px;
}
.offer-panel__info {
width: 585px;
max-width: 60%;
}
.offer-panel__title {
width: 585px;
max-width: 100%;
height: 57px;
line-height: 61px;
color: #0061b0;
text-align: center;
font-size: 26px;
background: #fff;
border-radius: 10px;
margin-bottom: 14px;
}
.offer-panel__text {
font-size: 16px;
line-height: 24px;
color: #fff;
margin-bottom: 16px;
}
.offer-panel__btn {
width: 262px;
max-width: 100%;
height: 61px;
line-height: 61px;
background: #3762ac;
color: #fff!important;
cursor: pointer;
text-align: center;
text-transform: uppercase;
font-size: 22px;
margin-left: auto;
border-radius: 5px;
position: relative;
}
.offer-panel__btn::before {
content: '';
display: block;
width: 132px;
height: 44px;
background: url(../img/figure-arrow-red.png) 0 0 no-repeat;
position: absolute;
top: 6px;
left: -158px;
}
.offer-panel__pic {
  width: 217px;
  margin-top: 8px;
}
.steps {
margin-bottom: 85px;
}
.steps__title {
  font-weight: 700;
text-transform: uppercase;
color: #5ea4e1;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  margin-bottom: 18px;
}
.steps-item {
font-size: 18px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #5ea4e1;
text-align: center;
padding-top: 26px;
position: relative;
}
.steps-item:first-child {
  margin-right: 61px;
}
.steps-item:nth-child(2) {
margin-right: 50px;
}
.steps-item:nth-child(3) {
margin-right: 45px;
} 
.steps-item::after {
  content: '';
  display: block;
  width: 170px;
  height: 48px;
  position: absolute;
}
.steps-item:first-child::after,
.steps-item:nth-child(3)::after {
  background: url(../img/arrow-up.png) 0 0 no-repeat;
  background-size: contain;
  top: 0;
  left: 85%;
}
.steps-item:nth-child(2)::after {
  background: url(../img/arrow-down.png) 0 0 no-repeat;
  background-size: contain;
  bottom: 80px;
  left: 88%;
}
.steps-item__pic {
  width: 100%;
  max-width: 110px;
  height: auto;
  margin: 0 auto 10px auto;
}
.similar__title {
font-size: 24px;
margin: 20px 0 10px;
font-weight: 500;
line-height: 1.1;
}
.similar-item {
  color: #337ab7!important;
  width: 100px;
  margin: 0 5px 10px; 
}
.similar-item__pic {
  width:100px;
  height:100px;
  margin-bottom:10px;
}
.similar-item span {
line-height: 1.7;
}

.recommended {
  padding-top: 50px;
}
.recommended__title {
font-size: 18px;
text-transform: uppercase;
margin-bottom: 20px;
color: #2397f9;
text-align: center;
}
.recommended-item,
.recommended-city__name {
width: 22.5%;
margin-bottom: 22px;
}
.recommended-item a {
  display: block;
  text-decoration: none;
  box-shadow: 0 0px 3px 2px rgb(66 64 66 / 40%);
  border-radius: 10px;
  border: 3px solid #0FA6E4;
  background: #0FA6E4;
  width: 100%;
  height: 52px;
  line-height: 52px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.recommended-item a:hover {
box-shadow: 0 0px 3px 4px rgb(66 64 66 / 40%);
}
.recommended-city__name {
  margin-bottom: 40px;
}
.recommended-city__name a {
margin-top: 16px;
color: #0FA6E4!important;
font-size: 16px;
line-height: 1.42857143;
}
.recommended-city__name a:hover {
color: #1267c1!important;
}
.subject__name {
text-transform: uppercase;
color: #0FA6E4;
font-size: 25px;
text-align: center;
font-weight: 700;
margin-top: 40px;
margin: 10px 0 20px;
}
.subject-section-container {
    background: #fff;
    overflow-y: auto;
    max-height: 500px;
    padding: 20px;
    box-shadow: 0 2px 6px 0 rgb(47 49 49 / 40%);
    border-radius: 10px;
    margin-bottom: 70px;
}
.subject-section {
    margin-bottom: 20px;
    overflow: hidden;
    column-count: 3;
    column-gap: 22px;
    -moz-column-count: 2;
    -moz-column-gap: 22px;
    -webkit-column-count: 2;
    -webkit-column-gap: 22px;
}
.subject-column {
    padding: 10px 10px 10px 0px;
    display: table;
    margin: 1% 1% 1% 0;
    line-height: 1.42857143;
}
.subject-title {
    color: #0FA6E4;
    font-weight: bold;
    font-size: 20px;
}
.subject-column a {
  color: #337ab7!important;
    display: block;
    clear: both;      
}
.subject-column a:hover {
color: #23527c!important;
text-decoration: underline;
}

.footer {
padding: 30px 150px 29px;
background-color: #0d0c07;
background-image: linear-gradient(0.0deg, #b0b0b0 0%, #ffffff 80%, #efefef 100%);
}
.footer-top {
  margin-bottom: 20px;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__phone {
margin-bottom: 2px;
}
.footer__mail {
margin-bottom: 36px;
}
.footer__phone a,
.footer__mail a {
font-size: 26px;
line-height: 1.2;
font-weight: 700;
color: #282828!important;
}
.footer__mail a {
font-size: 17px;
}

.footer__legal {
font-size: 12px;
line-height: 1.2;
color: #282828;
}
.footer__legal span {
text-transform: uppercase; 
}
.footer__nav {
  margin-top: 6px;
}
.footer__nav__col:first-child {
margin-right: 174px;
}
.footer__nav__title {
font-size: 16px;
line-height: 1.2;
font-weight: 700;
color: #00378b;
text-transform: uppercase;
margin-bottom: 10px;
}
.footer-menu li {
  list-style: none;
}
.footer-menu li a {
font-size: 16px;  
line-height: 24px;
font-weight: 400;
color: #282828!important;
}
.footer-bottom {
  text-align: center;
  font-size: 12px;
}



@media screen and (min-width: 1200px) {
  .header-bottom {
    display: block!important;
  }
}
@media screen and (max-width: 1199px) {
  .header__city,
  .header-bottom,
  .header__social__btn span,
  .header__phone span {
    display: none;
  }
  .header {
    margin-bottom: 15px;
  }
  .header-top {
    padding: 13px 0 0;
    position: relative;
  }
  .header-top-row {
  -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
  }
  .header__info {
  width: 100%;
  background-color: #ececec;
  box-shadow: 1px 2px 4px 0px rgba(0,0,2,0.4);
  padding: 6px 16px 6px 17px;
  border-radius: 5px;
  margin-bottom: 15px;
  -webkit-box-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
  }
  .header__logo {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    background-color: #ececec;
    margin: 0 0 15px;
    padding: 14px 0 13px 10px;
  }
  .header__social,
  .header__phone {
    margin: 0;   
  }
  .header__phone {
    padding-left: 0;
    background-image: none;
  }
  .header__social__btn,
  .header__phone a {
   width: 48px;
   height: 48px;
  }
  .header__social__btn {
  margin-right: 27px;
  padding: 0!important;
  }
  .header__social__btn-whatsapp {
  background: url(../img/whatsapp-mbl.png) 0 0 no-repeat;
  -webkit-order:1;
  order:1;
  }
  .header__social__btn-viber {
  background: url(../img/viber-mbl.png) 0 0 no-repeat;
  -webkit-order:3;
  order:3;
  margin-right: 26px;
  }
  .header__social__btn-vk {
  background: url(../img/vk-mbl.png) 0 0 no-repeat;
  -webkit-rder:2;
  order:2;
  }
  .header__phone a {
  background: url(../img/phone-mbl.png) 0 0 no-repeat;
  -webkit-order:4;
  order:4;
  }
  .header__link-mbl {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
background: #fff;
border: 2px solid #0061b0;
font-family: 'Roboto', sans-serif;
font-weight: 700;
text-transform: uppercase;
color: #0061b0;
text-align: center;
}
.mbl-menu-btn {
display: block;
width: 120px;
height: 41px;
background-color: #ececec;
border: 1px solid #0061b0;
box-shadow: 1px 2px 4px 0px rgba(0,0,2,0.4);
position: absolute;
top: 44px;
right: 8px;
padding-left: 12px;
border-radius: 5px;
}
.mbl-menu-btn__text {
display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #0061b0;
line-height: 41px;
padding-right: 36px;
background: url(../img/hm-btn.png) 100% 12px no-repeat;
margin-right: 4px;
vertical-align: middle;
}
.hm-btn {
display: inline-block;  
width: 6px;
height: 4px;
background: url(../img/hm-btn-arr.png) 0 0 no-repeat;
cursor: pointer;
line-height: 41px;
vertical-align: middle;
}
.header-bottom-mbl {
display: block;
position: absolute;
top: 90px;
right: 14px;
width: 260px;
height: 195px;
background-color: transparent;
background-image: linear-gradient(0.0deg, #b0b0b0 0%, #ffffff 80%, #efefef 100%);
padding: 21px 8px 17px 24px;
z-index: 9000;
}
.header-bottom-row {
-khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
}
.header-bottom-row > div {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.header__nav {
padding:0;   
-webkit-order: 3;
order:3;
}
.header__mbl-contacts {
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;    
-webkit-order: 2;
order:2; 
margin-bottom: 12px;
}
.header__mbl-phone a,
.header__mbl-city span{
font-size: 14px;
color: #0061b0!important;
}
.header__mbl-phone {
  font-size: 14px;
  padding-left: 15px;
  background: url(../img/phone-blue.png) 0 2px no-repeat;
  background-size: 12px;
  margin-right: 13px;
}
.header__mbl-city {
padding-left: 13px;
background: url(../img/pin-blue.png) 0 0 no-repeat;
background-size: 9px;
}
.header__mbl-city span {
  text-decoration: underline;
}
.header__search {
-webkit-order:1;
order:1;
width: 226px;
height: 25px;
margin: 0 0 13px;
}
.top-search-form__input {
width: 201px;
height: 25px;
padding-left: 14px;
line-height: 25px;
font-size: 10px;
}
.top-search-form__input::placeholder {
  font: 300 italic 10px/25px 'Roboto', sans-serif;
}
.top-search-form__input::-webkit-input-placeholder {
  font: 300 italic 10px/25px 'Roboto', sans-serif;
}
.top-search-form__input:-ms-input-placeholder {
  font: 300 italic 10px/25px 'Roboto', sans-serif;
}
.top-search-form__input::-moz-placeholder {
  font: 300 italic 10px/25px 'Roboto', sans-serif;
}
.top-search-form__input:-moz-placeholder {
  font: 300 italic 10px/25px 'Roboto', sans-serif;
}
.top-search-form__submit {
width: 26px;
height: 25px;
background-size: 7px;
background-position: 10px 9px;
}
.top-menu {
  display: block;
}
.top-menu li a {
font-size: 12px;
line-height: 24px;
padding: 0!important;
}
.top-menu li:nth-child(2),
.top-menu li:nth-child(3) {
  display: none;
}
.get-price-link {
display: block;  
position: absolute;
width: 102px;
height: 61px;
right: 7px;
bottom: 38px;
background: url(../img/folded-bg.png) 0 0 no-repeat;
text-align: center;
}
.top-menu li.get-price-link a { 
width: 32px;  
font-size: 8px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #fff!important;
margin: 16px 0 0 40px;
}
.full-version-link {
display: inline-block;
margin-top: 6px;
}
.top-menu li.full-version-link a {
font-size: 10px;
line-height: 1.2;
font-weight: 300;
font-style: italic;
text-transform: none;
text-decoration: underline;
color: #282828!important;
}
.jumbo {
    display: none!important;
}
.jumbo-mbl__inner {
width: 290px;
margin: 0 auto;
}
.jumbo-mbl {
display: block;
font-family: 'Impact', sans-serif;
color: #fff;
background-image: linear-gradient(0.0deg, #d5e6f4 0%, #0066b8 100%);
padding: 16px 7px 43px 8px;
margin-bottom: 15px;
overflow: hidden;
}
.jumbo-mbl__title {
background-image: linear-gradient(0.0deg, #5ea3df 0%, #ffffff 100%);
font-size: 39.2px;
line-height: .8;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: uppercase;
transform-origin: 0 0;
transform: scaleX(1.54);
}
.jumbo-mbl__subtitle {
font-size: 18.4px;
line-height: .8;
text-transform: uppercase;
margin-bottom: 23px;
transform-origin: 0 0;
transform: scaleX(.98);
white-space: nowrap;
}
.jumbo-mbl__italic {
font-family: 'Nickainley', cursive;
font-size: 21px;
line-height: 1.2;
letter-spacing: 0.01em;
transform-origin: 0 0;
transform: scaleX(1.13);
margin-bottom: 28px;
}
.jumbo-mbl__italic span {
  letter-spacing: 0.058em;
}
.jumbo-mbl__line {
font-size: 25.9px;
line-height: 1;
text-transform: uppercase;
transform-origin: 0 0;
transform: scaleX(.95);
white-space: nowrap;
text-shadow: #0061b0 2px 2px 0px;
}
.jumbo-mbl__final {
font-size: 26.1px;
line-height: 1.15;
text-transform: uppercase;
margin-bottom: 33px;
transform-origin: 0 0;
transform: scaleX(1.17);
text-shadow: #0061b0 2px 2px 0px;
}
.jumbo-mbl__get-price-btn {
width: 212px;
height: 37px;
line-height: 37px;
font-size: 14px;
font-family: 'Roboto', sans-serif;
background: #e10408;
text-align: center;
text-transform: uppercase;
color: #fff!important;
border-radius: 3px;
margin: 0 auto;
}
.pinned__text {
    font-size: 62px;
  }
  .steps-item::after {
    width: 120px;
  }
  .get-price-form__select, 
  .get-price-form__input:not(.get-price-form__input-file),
  .get-price-form__input-file-wrap,
  .get-price-form__consent,
  .get-price-form__submit {
   -webkit-flex-basis:45%;
   flex-basis:45%;
   min-width: unset;
  }
  .get-price-form__input-file {
    width: 100%;
  }
  .reviews-item__text .d-block {
    display: inline;
  }
  .pep-order__line {
    font-size: 40px;
  }
  .footer {
    padding-left: 7px;
    padding-right: 7px;
  }
  .footer__nav {
   margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .pinned {
    height: auto!important;
    padding-left: 50px!important;
    padding-bottom: 52px;
    background-position-y: 50%;
  }
  .pinned__text {
    font-size: 52px;
  }
}

@media screen and (max-width: 1024px) {
  .offer-panel {
    padding: 45px 20px 50px;
  }
  .reviews-row,
  .footer-top-row {
    display: block;
  }
  .reviews-item {
  position: static;
  }
  .qna__title {
    padding-left: 50px;
  }
  .reviews-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .steps-item {
    font-size: 16px;
  }
  .steps-item:first-child::after, 
  .steps-item:nth-child(3)::after {
    left: 90%;
  }
  .steps-item:nth-child(2)::after {
    left: 92%;
  }
  .recommended,
.recommended-city {
  margin-bottom: 30px;
  }
  .steps-row,
  .recommended-row,
  .recommended-city {
  -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
  }
  .steps-row {
  -webkit-box-pack:justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  }
  .steps-item,
  .recommended-item,
  .recommended-city__name {
  -webkit-flex-basis: 45%;
  flex-basis: 45%;
  }
  .steps-item {
  margin-right: 0!important;
  }
  .steps-item::after {
    display: none!important;
  }
  .recommended-city__name {
    text-align: center;

  }
  .footer__info {
    margin-bottom: 33px;
    text-align: center;
  }
  .footer__logo {
  margin: 0 auto 30px;
  }
  .footer__nav {
-webkit-box-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
} 
}


@media screen and (max-width: 992px) {
.jumbo__main__subtitle {
  transform:none;
}  
.jumbo__main__subtitle__top-mbl {
background-image: linear-gradient(0.0deg, #5ea3df 0%, #ffffff 100%);
font-family: Impact;
font-size: 39.2px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #fff;
text-shadow: none;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transform-origin: 0 0;
transform: scaleX(1.52);
margin-bottom: 14px;
}
  .pinned {
    padding-right: 50px!important;
    padding-bottom: 200px!important;
    background-position-y: 90%!important;
  }
  .pinned__text {
    font-size: 48px;
}
  .qna__title {
  font-size: 30px; 
  text-align: center;
  padding-left: 0;
  }
  .qna__title__inner {
    padding-right: 78px;
  }
  .qna__title__inner::after {
    width: 73px;
    height: 50px;
    background-size: contain;
    right: -5px;
  }
  .footer-bottom .d-block {
   display: inline;
  }
}

@media screen and (max-width: 800px) {
.text-indexpage__main-img,
.text-innerpage__main-img {
width: 109px;
margin-bottom: 26px;
}
}


@media screen and (max-width: 768px) {
.header__logo a {
  width: 105px;
}
.mbl-menu-btn {
  top: 28px;
}
.header-bottom {
top: 69px;
}
.offer-panel-row {
   -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;  
}
.offer-panel__info { 
  -webkit-order:2;
  order:2;
  width: 100%;
  max-width: 100%;
}
.offer-panel__pic {
  -webkit-order:1;
  order:1;
  margin: 0 auto 20px;
}
.offer-panel__title { 
margin: 0 auto 14px;
}
.offer-panel__btn {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
}
.offer-panel__btn::before {
  display: none;
}
.reviews__title {
width: 276px;
height: 61px;
}
.reviews__title__letter {
font-size: 30px;
}
#letter1 {
top: 1.5px;
left: 0;
bottom: unset;
transform: rotate3d(1, 1, 1, -6.5deg);    
}
#letter2 {
left: 22px;
top: 0;
transform: rotate3d(1, 1, 1, -6.7deg); 
}
#letter3 {
top: -1px;
left: 44px;
transform: rotate3d(1, 1, 1, -3.5deg);
}
#letter4 {
top: -1.6875px;
left: 63px;
transform: rotate3d(1, 1, 1, -3deg); 
}
#letter5 {
top: -2.5px;  
left: 81px;
transform: rotate3d(1, 1, 1, -5deg);
}
#letter6 {
transform: rotate3d(1, 1, 1, -1deg);
top: -2.5px;
left: 100px;
}
#letter7 {
top: -2.9px;
left: 120px;
transform: rotate3d(1, 1, 1, -1deg);
}
#letter8 {
left: 140px;
top: -3px;      
}
#letter9 {
left: 166px;
top: -3px;
transform: rotate3d(1, 1, 1, 3deg);
}
#letter10 {
left: 188px;
top: -2px;
transform: rotate3d(1, 1, 1, 5deg);
}
#letter11 {
left: 210px;
top: -1.5px;
transform: rotate3d(1, 1, 1, 5deg);
}
#letter12 {
left: 237px;
top: 1px;
transform: rotate3d(1, 1, 1, 6deg);
}
#letter13 {
left: 256px;
top: 2px;
transform: rotate3d(1, 1, 1,9deg);
}
#letter14 {
left: 65px;
top: unset;
bottom: -3.2px;
transform: rotate3d(1, 1, 1, -4deg);
}
#letter15 {
top: unset;  
bottom: -2px;
left: 84px;
transform: rotate3d(1, 1, 1, -3deg);
}
#letter16 {
top: unset;
bottom: -2px;
left: 110px;
transform: rotate3d(1, 1, 1, -3deg);
}
#letter17 {
left: 130px;
bottom: -2.5px;
transform: rotate3d(1, 1, 1, -1deg);
}
#letter18 {
top: unset;
bottom: -1.5px;
left: 150px;
transform: rotate3d(1, 1, 1, 3deg);
}
#letter19 {
top: unset;
bottom: -2.5px;
left: 171px;
}
#letter20 {
top: unset;
bottom: -3.5px;  
left: 198px;
transform: rotate3d(1, 1, 1, 5deg);
}
.pinned__text .d-block  {
  display: inline;
}
.text-indexpage p:not(:nth-child(2),:nth-child(3)),
.text-indexpage .h2 {
  display: none;
}
.text .h2 {
  font-size: 20px;
}
.text-unfold-btn-wrap {
  display: block;
  text-align: center;
  height: 39px;
  position: relative;
}
.text-unfold-btn-wrap::before {
  content: '';
  display: block;
  width: 100%;
  height: 57px;
  opacity: .5;
  position: absolute;
  left: 0;
  bottom: calc(100% - 16px);
  background: url(../img/blur-layer.png) 50% 0 repeat-x;
}
.text-unfold-btn {
font-size: 12px;
line-height: 30px;
font-weight: 400;
font-style: italic;
text-decoration: underline;
color: #0061b0!important;
}
.get-price-form__title {
font-size: 25px;
}
.pep-order {
height: auto;
padding: 12px 18px 30px;
margin-bottom: 15px;
}
.pep-order__title {
font-size: 24px;
margin-bottom: 13px;
}
.pep-order__line {
font-size: 22.9px;
margin-bottom: 17px;
}
.pep-order-btn {
width: 215px;
height: 29px;
line-height: 29px;
font-size: 12px;
}
.pep-order-btn::before {
width: 79px;
height: 26px;
background-size: contain;
left: -37px;
}
.qna {
padding: 24px 9px 37px 8px;
background-position: 50% -20px;
margin-bottom: 14px;
}
.qna__title {
line-height: 1.08;
margin-bottom: 20px;
}
.qna__title span {
line-height: .6;
text-align: center;
}
.qna__set__question {
padding: 7px 27px 8px 8px;
}
.qna__set__question,
.qna__set__answer {
font-size: 12px;
line-height: 14px;
}
.qna__set__answer {
padding: 7px 50px 10px 8px;  
}
.qna-arr {
top: 13px;  
right: 9px;
}
.similar-item {
-webkit-flex-basis: 45%;  
flex-basis: 45%;
text-align: center;
}
.similar-item__pic {
  margin: 0 auto 10px;
}
.footer {
padding: 19px 7px 17px;
}
.footer-top {
margin-bottom: 16px;
}
.footer__logo {
width: 119px;
margin: 0 auto 14px;
}
.footer__phone {
margin-bottom: 1px;
}
.footer__mail {
margin-bottom: 22px;
}
.footer__info {
margin-bottom: 29px;
}
.footer__nav__title {
  margin-bottom: 4px;
}
.footer-bottom {
font-size: 10px;
line-height: 1.2;
}
}

@media screen and (max-width: 560px) {
.get-price {
padding: 15px 19px 19px 20px;
margin-bottom: 15px;
}  
.get-price-form__title {
  margin-bottom: 12px;
}
.get-price-form-row {
  display: block;
}
.get-price-form__select, 
.get-price-form__input {
  width: 100%;
}
.get-price-form__select, 
.get-price-form__input {
display: block;  
width: 267px;  
height: 28px;
font-size: 12px;
line-height: 28px;
margin: 0 auto 13px;
padding-left: 10px;
}
.get-price-form__input-file-wrap {
width: 267px;  
margin: 0 auto;
}
.get-price-form__input::placeholder {
font-size: 12px;
line-height: 28px;
}
.get-price-form__input::-webkit-input-placeholder {
font-size: 12px;
line-height: 28px;
}
.get-price-form__input:-ms-input-placeholder {
font-size: 12px;
line-height: 28px;
}
.get-price-form__input::-moz-placeholder {
font-size: 12px;
line-height: 28px;
}
.get-price-form__input:-moz-placeholder {
font-size: 12px;
line-height: 28px;
}
.get-price-form__select {
background-position: calc(100% - 22px) 13px;
background-size: 6px; 
}
.get-price-form__input-file-wrap::before {
font-size: 12px;
line-height: 28px;  
left: 10px;
}
.get-price-form__input-file-wrap::after {
width: 12px;
height: 14px;
background-size: contain;
top: 7px;
right: 11px;
}
.get-price-form__input-file {
  margin-bottom: 10px;
}
.get-price-form__consent {
width: 267px;
text-align: center;
margin: 0 auto 11px;
line-height: 1.2;
}
.checkbox-container {
font-size: 8px;
}
.checkmark {
width: 8px;
height: 8px;
margin-right: 1px;
top: 1px;
}
.checkbox-container input:checked ~ .checkmark {
background-size: 6px;
background-position: 2px 1px;
}
.get-price-form__submit {
display: block;  
width: 212px;
height: 37px;
font-size: 14px;
line-height: 37px;
background-color: #92d0ff;
background-image: linear-gradient(0.0deg, #0665b3 0%, #4abbfd 100%);
box-shadow: 1px 2px 4px 0px rgba(0,0,2,0.4);
margin: 0 auto;
}
.pinned {
  height: 150px!important;
  margin-bottom: 15px;
}
.pinned::before {
width: 20px;
height: 25px;
background-size: contain;
left: 9px;
top: -12px;
}
.pinned-ok {
padding: 31px 10px 0!important;
background-position: calc(100% - 15px) 83px;
background-size: 71px;
}
.pinned-delighted {
padding: 20px 13px 0!important;  
background-position: calc(100% - 9px) 74px;
background-size: 114px;
}
.pinned-hm {
padding: 21px 0 0 4px!important;
background-position: calc(100% - 26px) 81px;
background-size: 65px;
}
.pinned__text {
font-size: 25px;
}
.pinned-hm .pinned__text {
font-size: 23.8px;  
}
.reviews {
padding: 22px 15px 28px;
margin-bottom: 15px;
}
.reviews__title {
margin-bottom: 16px;  
}
.reviews-item {
  margin-bottom: 9px;
  background-size: 190px;
  background-position: 50% 33px;
  padding: 19px 10px 0;
width: 210px;
height: 228px;
margin: 0 auto 9px;
}
.reviews-item__rate {
  width: 64px;
  height: 12px;
  background-size: 12px!important;
  margin: 0 auto 9px;
}
.reviews-item__rate-four {
  background: url(../img/star-yellow.png) 0 0 no-repeat, 
  url(../img/star-yellow.png) 13px 0 no-repeat, 
  url(../img/star-yellow.png) 26px 0 no-repeat, 
  url(../img/star-yellow.png) 39px 0 no-repeat, 
  url(../img/star-blue.png) 52px 0 no-repeat;
}
.reviews-item__author {
font-size: 10px;
line-height: 14px;
margin-bottom: 7px;
}
.reviews-item__text {
font-size: 10px;
line-height: 21px;
margin-bottom: 4px;
}
.reviews-item__date {
font-size: 10px;
line-height: 14px;
}
.review-add-btn {
width: 220px;
height: 45px;
background-size: contain;
margin: 0 calc(50% - 120px) 0 auto;
font-size: 10.8px;
padding-top: 8px;
}
.review-add-btn span {
font-size: 14.4px;
}
.text-innerpage .h2 {
font-size: 17px;
}
.text p,
.dotted-ul li {
font-size: 10px!important;
line-height: 18px!important;
}
.text p:not(:nth-last-child(2)) {
margin-bottom: 0;
}
.dotted-ul {
margin: 10px 0;  
padding: 0;
}
.dotted-ul li::before {
top: 6px;
}
.subject-section {
column-count: 1;
column-gap: 0;
-moz-column-count: 1;
-moz-column-gap: 0;
-webkit-column-count: 1;
-webkit-column-gap: 0;
}
}

@media screen and (max-width: 480px) {
.recommended {
padding-top: 30px;
}  
.steps__title, .subject__name {
margin-top: 30px;
font-size: 20px;
}
.steps-item,  
.similar-item, 
.recommended-item,
.recommended-city__name {
-webkit-flex-basis: 100%;
flex-basis: 100%;
} 
.similar-item {
  margin-bottom: 30px;
}
.steps-item__pic {
  max-width: 70px;
}
.offer-panel__title {
font-size: 16px; 
}
.footer__nav__col:first-child {
margin-right: auto;
}
}
