
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyMedium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: "Muller"; 
src: url("../fonts/Muller.eot"); 
src: url("../fonts/Muller.eot?#iefix") format("embedded-opentype"), 
url("../fonts/Muller.woff2") format("woff2"), 
url("../fonts/Muller.woff") format("woff"), 
url("../fonts/Muller.ttf") format("truetype"), 
url("../fonts/Muller.svg#MullerRegular") format("svg"); }

@font-face {
    font-family: 'TTNorms-Medium';
    src: url('../fonts/TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;   
}
.flex-dir-col {
  -webkit-box-orient:vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-wrap{
  -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
}
.flex-nowrap {
  -khtml-box-lines:single!important;
  -webkit-box-lines:single!important;
  -ms-flex-wrap:nowrap!important;
  -webkit-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important;
}
.flex-between {
  -webkit-box-pack:justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-align-center {
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: relative;
} 
h1 {
color: #60bb46;
font-family: "GilroyBold", sans-serif;
font-weight: 400;
font-size: 72px;
margin: 0 0 15px;
}
h2 {
font-size: 38px;
font-family: "GilroyBold", sans-serif;
font-weight: 400;
margin: 0 0 39px;
text-transform: uppercase;
}
.services h2 {
  margin-bottom: 88px;
}
.production h2 {
  margin-bottom: 110px;
}
.benefits h2 {
  margin-bottom: 87px;
}
.contacts h2 {
  margin-bottom: 84px;
}
a {
  text-decoration: none;
  outline: none!important;
}
img {
  display: block;
  text-decoration: none; 
  border: none;
  max-width: 100%;
}
input,
textarea {
-webkit-appearance: none!important;
-moz-appearance: none!important;
appearance: none!important;
outline: none!important;
border: none;
}
textarea {
resize:none!important;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="submit"] {
  cursor: pointer;
}
.slick-slide {
  outline: none!important;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
font-family: 'GilroyBold', sans-serif!important;
}
.color {
  color: #60bb46;
}
.d-block {
  display: block;
} 
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.image-fluid {
  max-width: 100%;
}
.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  background: url(../img/top-bg2.png) 50% 0 no-repeat;
}
.wrapper {
  width: 1200px;
  max-width: calc(100% - 56px);
  margin: 0 auto;
}
.main {
  padding-bottom: 18px;
}
.header-top {
  padding: 32px 15px 0 0;
}
.header-bottom {
  padding: 27px 0;
}
.logo {
  width: 177px;
  margin-right: 70px;
}
.mail {
  display: block;
  padding-left: 50px;
  font-size: 20px;
  color: #000!important;
  font-family: 'GilroyBold', sans-serif;
  margin-left: auto;
  background: url(../img/envelope.png) 0 10px no-repeat;
}
.mail:hover {
  color: #60bb46!important;
}
.header__mail {
padding-top: 13px;
background-position: 0 17px;
}
.lang-switch {
  margin-left: 18px;
  height: 27px;
  position: relative;
}
.header__lang-switch {
  padding-top: 17px;
}
.lang {
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #000!important;
  padding-right: 11px;
}
a.lang {
  font-size: 14px;
  font-family: 'MullerRegular', sans-serif;
  position: relative;
  top: -7px;
}
.lang-current {
  display: block;
  font-family: 'GilroyMedium', sans-serif;
  font-size: 16px;
  position: relative;
}
.lang-current::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 8px;
height: 5px;
background: url(../img/arrow-down.png) 0 0 no-repeat;
}
.nav-ul {
  list-style: none;
}
.header__nav-ul {
  width: 697px;
  max-width: 100%;
  margin: 0 auto;
}
.nav-ul li a {
display: block; 
color: #000!important;
position: relative;
white-space: nowrap;
}
.header__nav-ul li a {
font-size: 18px;
}
.nav-ul li a:hover {
  color: #0063a6!important;
}
.nav-ul li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 99, 166,.95);
  position: absolute;
  top: 100%;
  left: 0;
}
.top-panel {
  padding: 98px 0 250px;
  margin-bottom: 68px;
}
.top-panel__info {
  width: 700px;
  max-width: 100%;
  padding-left: 13px;
}
.top-panel__info__text {
font-size: 36px;
line-height: 1.36;
}
.about-n-workflow {
background: url(../img/wave-bg2.png) 50% 100% no-repeat;
}
.about-inner {
  padding-bottom: 68px;
  position: relative;
}
.about-inner__pic {
  position: absolute;
  right: 0;
  bottom: -97px;
width: 66.25%;
}
.about__text {
  width: 768px;
  max-width: 100%;
  font-size: 22px;
  line-height: 34px;
  padding-left: 14px;
}
.workflow {
  height: 1008px;
  padding-top: 164px;
  color: #fff;
}
.workflow h2 {
  margin-bottom: 11px;
}
.workflow-inner {
  padding-left: 15px;
}
.workflow__intro {
  font-size: 24px;
  margin-bottom: 80px;
}
.workflow-plan {
  width: 1132px;
  max-width: 100%;
  height: 565px;
  margin-left: 8px;
  position: relative;
}
.workflow-plan__item {
  position: absolute;
}
.workflow-plan__item:first-child {
width: 250px; 
top: 210px; 
left: 0;
}
.workflow-plan__item:nth-child(2) {
  width: 276px;
  top: -3px;
  left: 244px;
}
.workflow-plan__item:nth-child(3) {
width: 246px;
top: 308px;
left: 412px;
}
.workflow-plan__item:nth-child(4) {
width: 333px;  
top: 98px;
left: 634px;
}
.workflow-plan__item:last-child {
width: 200px; 
top: 379px;
right: 0;
}
.workflow-plan__item__pic {
  position: relative;
}
.workflow-plan__item__pic::before {
  content: '';
  display: block;
  position: absolute;
}
.workflow-plan__item__pic__first,
.workflow-plan__item__pic__third,
.workflow-plan__item__pic__fifth {
  margin-bottom: 10px;
}
.workflow-plan__item__pic__first::before {
    bottom: 139px;
    left: 152px;
    width: 146px;
    height: 96px;
    background: url(../img/step1.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__second::before {
top: 121px;
    right: -21px;
    width: 96px;
height: 146px;
    background: url(../img/step2.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__third::before {
  top: -17px;
  right: -107px;
  width: 148px;
height: 87px;
background: url(../img/step3.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__forth::before {
  top: 83px;
  right: -46px;
  width: 132px;
height: 116px;
background: url(../img/step4.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__first img {
  margin-left: 64px;
}
.workflow-plan__item__pic__second img {
  margin-left: 77px;
}
.workflow-plan__item__pic__third img {
  margin-left: 63px;
}
.workflow-plan__item__pic__forth img {
margin-left: 86px;
}
.workflow-plan__item__pic__fifth img {
margin-left: 29px;
}
.workflow-plan__item__text {
  font-family: 'GilroyMedium', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.workflow-plan__item:nth-child(2) .workflow-plan__item__text {
  white-space: nowrap;
  margin-bottom: 6px;
}
.workflow-plan__item:nth-child(4) .workflow-plan__item__text {
  margin-bottom: 14px;
}
.workflow-plan__item:last-child .workflow-plan__item__text {
  text-align: left;
}
.services-n-production {
  background: url(../img/pills.png) 100% calc(100% - 358px) no-repeat;
  background-size: 15.15625%!important;
}
.services {
  padding-top: 92px;
  margin-bottom: 148px;
  background: url(../img/bottle-bg.png) 0 154px no-repeat;
  background-size: 15.26041666666667%!important;
}
.services-item {
margin-bottom: 50px;
position: relative;
color: #fff;
}
.services-item__text {
width: 703px;  
max-width: 100%;
border-radius: 20px;
background-color: #ffffff;
position: absolute;
right: 0;
border-radius: 20px;
padding: 56px 44px 0 60px;
background-image: linear-gradient(-51deg, rgba(96, 187, 70, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(2, 147, 197, 0.63) 100%);
}
.services-item:first-child .services-item__text,
.services-item:nth-child(3) .services-item__text {
right: unset;
left: 0;
}
.services-item:first-child .services-item__pic,
.services-item:nth-child(3) .services-item__pic {
margin-left: auto;
}
.services-item__text__first {
height: 355px;
top: 97px;
}
.services-item__text__second {
height: 401px; 
top: 74px;
}
.services-item__text__third {
height: 316px;
top: 116px;
}
.services-item__text__forth {
height: 364px;
top: 92px;
}
.services-item__text__title {
font-size: 20px;
font-family: 'GilroyMedium';
margin-bottom: 20px;
}
.services-item__text__forth .services-item__text__title {
  font-size: 22px;
  margin-bottom: 22px;
}
.services-item__pic {
  width: 600px;
  max-width: 100%;
}
.dotted-ul,
.hyphenated-ul {
  list-style: none;
}
.dotted-ul li {
  color: #fff;
  position: relative;
  padding-left: 16px;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
}
.dotted-ul li::before {
content: '';
display: block;
position: absolute;
top: 7px;
left: 0;  
width: 8px;
height: 8px;
border-radius: 50%;
background: #fff;
}
.hyphenated-ul li {
color: #fff;  
line-height: 30px;
padding-left: 22px;
position: relative;
}
.services-item__text__forth .hyphenated-ul li {
  font-size: 20px;
  line-height: 32px;
}
.hyphenated-ul li::before {
content: '';
display: block;  
position: absolute;
top: 14px;
left: 0;
width: 14px;
height: 2px;
background: #fff;
}
.production {
  padding: 30px 0 178px;
}
.production-slider-container {
padding: 0 44px;
position: relative;
}
.arrow {
  display: none;
  width: 38px;
  height: 21px;
  position: absolute;
  top: calc(50% - 10.5px);
  cursor: pointer;
  z-index: 90;
}
.arrow-prev {
  left: 0;
  background: url(../img/arrow-prev.png) 0 0 no-repeat;
}
.arrow-next {
  right: 0;
  background: url(../img/arrow-next.png) 0 0 no-repeat;
}
.production-slider {
  height: 370px;
}
.production-item-wrap {
position: relative;
}
.production-item-wrap:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  left: calc(100% + 10px);
  width: 44px;
  height: 12px;
  background: url(../img/dots.png) 0 0 no-repeat;
}
.production-item {
width: 229px;
max-width: 100%;
height: 300px;
color: #fff;
padding-top: 83px;
cursor: pointer;
position: relative;
top: 25px;
}
.production-item:not(.production-item__diet):hover {
  height: 370px;
  top: 0;
}
.production-item__diet {
background: url(../img/product1.png) 50% 50% no-repeat;
}
.production-item__diet:hover {
padding-top: 58px;
background: url(../img/product1.png) 50% 50% no-repeat;
}
.production-item__beauty {
background: url(../img/product2-1.png) 50% 50% no-repeat;
}
.production-item__beauty:hover {
background: url(../img/product2.png) 50% 50% no-repeat;
}
.production-item__health {
background: url(../img/product3-1.png) 50% 50% no-repeat;
}
.production-item__health:hover {
padding-top: 66px;
background: url(../img/product3.png) 50% 50% no-repeat;
}
.production-item__adult {
 background: url(../img/product4-1.png) 50% 50% no-repeat; 
}
.production-item__adult:hover {
 padding-top: 92px;
 background: url(../img/product4.png) 50% 50% no-repeat; 
}
.production-item__title {
font-family: 'GilroyBold', sans-serif; 
font-size: 20px;
text-align: center;
text-transform: uppercase;
}
.production-item .dotted-ul {
  display: none;
  padding-left: 28px;
  margin-top: 46px;
}
.production-item__diet .dotted-ul {
  margin-top: 20px;
}
.production-item__health .dotted-ul {
  margin-top: 28px;
  padding-left: 18px;
}
.production-item__adult .dotted-ul {
  margin-top: 20px;
}
.production-item:hover .dotted-ul {
  display: block;
}
.benefits {
  padding: 121px 0 44px;
  color: #fff;
  background: url(../img/benefits-bg.png) 50% 0 no-repeat;
}
.benefits-set__item {
  max-width: 33%;
  margin-bottom: 86px;
}
.benefits-set__item:first-child {
  padding-left: 133px;
  background: url(../img/manufacture.png) 0 4px no-repeat;
}
.benefits-set__item:nth-child(2) {
  padding-left: 144px;
  background: url(../img/hand-shake.png) 0 16px no-repeat;
}
.benefits-set__item:nth-child(3) {
  padding-left: 107px;
  background: url(../img/skincare.png) 0 4px no-repeat;
}
.benefits-set__item:nth-child(4) {
  padding-left: 133px;
  background: url(../img/international.png) 0 7px no-repeat;
}
.benefits-set__item:nth-child(5) {
  padding-left: 144px;
  background: url(../img/lab-tool.png) 21px 5px no-repeat;
}
.benefits-set__item:last-child {
  padding-left: 107px;
  background: url(../img/document.png) 6px 0 no-repeat;
  padding-right: 17px;
}
.benefits-set__item__title {
font-family: 'GilroyBold', sans-serif;  
font-size: 22px;
line-height: 24px;
margin-bottom: 7px;
}
.benefits-set__item__text {
line-height: 24px;
}
.contacts {
  padding: 90px 0 53px;
}
.contacts__intro {
line-height: 32px;
text-transform: uppercase;
margin-bottom: 36px;
}
.contacts__feedback {
width: 970px;
max-width: 100%;
margin: 0 auto;
height: 490px;
padding: 15px;
border-radius: 20px;
background-image: linear-gradient(-51deg, rgba(96, 187, 70, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(2, 147, 197, 0.63) 100%);
}
.contacts__feedback-inner {
  padding: 27px 85px 46px;
  background: #fff;
  border-radius: 5px;
}
.contacts__feedback__intro {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  line-height: 30px;
  margin-bottom: 36px;
}
.contact-form-row {
margin-bottom: 22px;
}
.contact-form-column:first-child {
  max-width: 45%;
}
.contact-form-column:last-child {
  max-width: 55%;
}
.contact-form__input-wrap {
width: 270px; 
max-width: 100%;
height: 47px; 
padding: 2px;
border-radius: 23px;
background: linear-gradient(-51deg, rgba(96, 187, 70, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(2, 147, 197, 0.63) 100%);
overflow: hidden;
margin-bottom: 19px;
margin-right: 30px;
}
.contact-form__textarea-wrap {
width: 432px;
max-width: 100%;
height: 113px;
}
.contact-form__input {
width: 100%;  
height: 100%;
background: #fff;
border-radius: 21px;
padding: 0 20px 0 45px;
font: 400 20px 'Gilroy';
color: #000;
}
.contact-form__input::placeholder {
  font: 400 20px 'Gilroy';
  color: #838383;
}
.contact-form__input::-webkit-input-placeholder {
  font: 400 20px 'Gilroy';
  color: #838383;
}
.contact-form__input:-ms-input-placeholder {
  font: 400 20px 'Gilroy';
  color: #838383;
}
.contact-form__input::-moz-placeholder {
  font: 400 20px 'Gilroy';
  color: #838383;
}
.contact-form__input:-moz-placeholder {
  font: 400 20px 'Gilroy';
  color: #838383;
}
.contact-form__textarea {
padding: 21px 20px 20px 44px;
}
.contact-form__input.er,
.contact-form__textarea.er {
border-color: red;
}
.error,
.mailSuccessDiv {
  display: none;
}
.error {
  margin-bottom: 20px;
}
.error p {
  margin-bottom: 10px;
  font-size: 20px;
}
.contacts__feedback__consent {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 39px;
}
.contacts__feedback__consent a {
  display: inline-block;
  color: #338396!important;
  margin-right: 2px;
}
.contacts__feedback__consent a span {
  border-bottom: 1px solid #28a392;
}
.contacts__feedback__consent a:hover span {
  border-bottom: none;
}
.btn {
display: block;  
width: 267px;
height: 55px;
border-radius: 21px;
background-color: #28a392;
background-image: linear-gradient(-51deg, rgba(96, 187, 70, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(2, 147, 197, 0.63) 100%);
text-align: center;
line-height: 55px;
font-family: 'GilroyBold', sans-serif;
font-size: 20px;
color: #fff!important;
margin: 0 auto;
}
.btn:hover {
background-image: linear-gradient(-51deg, rgba(2, 147, 197, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(96, 187, 70, 0.63) 100%);  
}
.footer {
  padding: 30px 0 67px;
}
.footer__logo {
  padding-top: 6px;
  margin-right: 185px;
}
.footer__nav {
  padding-top: 8px;
}
.footer__nav-ul {
width: 330px;
max-width: 100%;
}
.footer__nav-ul li:first-child {
  margin-right: 76px;
  margin-bottom: 18px;
}
.footer__nav-ul li:nth-child(2) {
  margin-right: 106px;
  margin-bottom: 18px;
}
.footer__nav-ul li:nth-child(3) {
  margin-right: 80px;
}
.footer__nav-ul-es li:nth-child(3) {
  margin-right: 76px;
}
.footer__nav-ul li:nth-child(4) {
  margin-right: 30px;
}
.footer__nav-ul li a {
  font-size: 14px;
}
.footer__nav-ul li a.active::after {
  top: 96%;
}
.footer__mail {
  padding-left: 43px;
  position: relative;
  top: 2px;
  background-position: 0 3px;
}
.footer__mail::before {
width: 48px;
height: 48px;
top: 0;
}
.footer__lang-switch {
  margin-left: 21px;
  position: relative;
  top: 7px;
}

@media screen and (max-width: 1230px) {
.production-item-wrap:not(:last-child)::after {
  display: none;
}
.about-n-workflow {
  background-size: cover;
}
.workflow {
  height: auto;
}
.workflow-inner {
  padding: 59px 0;
}
.workflow__intro {
  margin-bottom: 40px;
}
.workflow-plan {
  width: 700px;
  height: 900px;
  margin: 0 auto;
} 
.workflow-plan__item:nth-child(4) {
  top: 500px;
  left: 0;
}
.workflow-plan__item:nth-child(4) .workflow-plan__item__pic {
-webkit-order:1;  
order:1;
}
.workflow-plan__item:nth-child(4) .workflow-plan__item__text {
-webkit-order:2;  
order: 2;
}
.workflow-plan__item:last-child {
  left: 312px;
  top: unset;
  bottom: 0;
}
.workflow-plan__item__pic__third::before {
    top: 90px;
    right: unset;
    left: -120px;
    width: 148px;
    height: 87px;
    background: url(../img/step3-left.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__forth::before {
    top: 40px;
    right: -76px;
}
}

@media screen and (max-width: 1200px) {
.production-slider-container {
    padding: 0;
}
}

@media screen and (max-width: 1150px) {
.footer__logo {
  margin-right: auto;
}
}

@media screen and (min-width: 1025px) {
  .header__nav {
    display: block!important;
  }
  .hm-btn,
  .cls-btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav,
  .header__nav .nav-ul li a.active::after,
  .header__mail span,
  .footer__lang-switch {
    display: none;
  }
  .arrow {
    display: block;
  } 
  .header-top {
    padding-right: 0;
  }
  .hm-btn {
    display: block;
    width: 25px;
    height: 18px;
    background: url(../img/hm-btn.png) 0 0 no-repeat;
    position: relative;
    top: 15px;
    left: 0;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__mail {
  padding: 0 0 0 25px;
  margin-left: 0;
  height: 19px;
  margin-top: 14px;
  background-position: 0 0;
  }
  .header__lang-switch {
    position: absolute;
    top: 22px;
    right: 28px;
    padding-top: 0;
  }
  .lang-current,
  a.lang {
    font-family: 'MullerRegular', sans-serif;
    font-size: 10px;
  }
  .lang-current::after {
    top: 4px;
  }
  .header__nav-inner {
    position: relative;
    padding: 62px 27px 0 27px;
  }
  .header-bottom {
    padding: 0;
  }
  .cls-btn {
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 23px;
    right: 23px;
    background: url(../img/cls-btn.png) 0 0 no-repeat;
  }
  .mbl-nav {
    width: 356px;
    background: #fff;
    height: 401px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 0;
    background-image: linear-gradient(-250deg, rgba(96, 187, 70, 0.63) 0%, rgba(40, 163, 146, 0.63) 47%, rgba(2, 147, 197, 0.63) 100%);
  }
  .mbl-nav .nav-ul {
    display: block;
  }
  .mbl-nav .nav-ul li {
    margin-bottom: 35px;
  }
  .mbl-nav .nav-ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff!important;
    font-family: 'TTNorms-Medium', sans-serif;
    padding: 0;
  }
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 30px;
  }
  .container {
    background-size: auto 700px;
  }
  .top-panel__info__text {
    font-size: 30px;
  }
  .benefits {
    padding-top: 54px;
  }
  .benefits h2 {
    margin-bottom: 40px;
  }
  .benefits-set__item {
    width: 48%;
    max-width: 48%;
    margin-bottom: 46px;
  }
  .services {
  background-position: 0 0;
  }
  .services-item__text {
    top: unset;
    left: unset;
    right: unset;
    z-index: 90;
    padding: 26px 15px 30px 24px;
    margin: 0 auto;
    position: relative;
    height: auto!important;
  }
  .services-item__pic {
    margin: 0 auto;
  }
  .services-item__pic img {
    position: relative;
    top: -30px;
  }
  .production {
    padding-bottom: 95px;
  }
  .production-slider {
    height: 406px; 
  }
  .production-slider-container {
    padding: 0 45px;
  }
  .production-item {
    position: static;
    margin: 0 auto;
  }
  .production-item .dotted-ul {
    display: block;
  }
  .production-item__beauty .dotted-ul {
  margin-top: 48px;
}
  .production-item__beauty .dotted-ul li {
    margin-bottom: 17px;
  }
  .production-item__adult .dotted-ul {
    margin-top: 20px;
}
.production-item__health .dotted-ul {
  margin-top: 28px;
}
.slick-initialized .slick-slide {
   display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: -webkit-flex!important;
  display: flex!important;  
  -webkit-box-align:center!important;
  -webkit-align-items:center!important;
  align-items:center!important;
  height: 406px;
}
.production-item__diet {
height: 300px;  
padding-top: 58px;
background: url(../img/product1.png) 50% 50% no-repeat;
}
.production-item__beauty {
padding-top: 74px;  
height: 406px; 
background: url(../img/product2-mbl.png) 50% 50% no-repeat;
}
.production-item__health {
height: 370px; 
padding-top: 66px;
background: url(../img/product3.png) 50% 50% no-repeat;
}
.production-item__adult {
 height: 336px; 
 padding-top: 92px;
 background: url(../img/product4.png) 50% 50% no-repeat; 
}
.benefits-set__item:nth-child(3) {
    padding-left: 133px;
}
.benefits-set__item:nth-child(5) {
    padding-left: 133px;
    background-position: 0 5px;
 }
 .benefits-set__item:nth-child(4),
 .benefits-set__item:last-child {
  padding-left: 144px;
 }
 .benefits-set__item:last-child {
  padding-right: 0;
 }
  .contacts__feedback-inner {
    padding: 27px 25px 46px;
  }
  .contacts__feedback {
    padding: 5px;
    height: auto;
  }
  .contacts__feedback-inner {
    border-radius: 18px;
  }
  .contact-form-row {
   -webkit-box-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
  }


}

@media screen and (max-width: 992px) {  
.services h2 {
  margin-bottom: 48px;
}
.production h2 {
  margin-bottom: 70px;
}
.benefits h2 {
  margin-bottom: 47px;
}
.contacts h2 {
  margin-bottom: 44px;
}

}

@media screen and (max-width: 900px) { 
.footer {
    padding: 27px 0 46px;
  }
  .footer-inner {
    -khtml-box-lines:multiple;
  -webkit-box-lines:multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap; 
  }
  .footer__mail {
    -webikt-order: 1;
    order: 1;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 29px;
    padding: 38px 0 0;
    background-position: 50% 0;
    position: static;
  }
  .footer__nav {
    -webikt-order: 2;
    order: 2;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
    width: auto;
    min-width: unset;
  }
  .footer__nav .nav-ul {
    display: block;
    width: 100%;
  }
  .footer__nav .nav-ul li,
  .footer__nav .nav-ul li:first-child, 
  .footer__nav .nav-ul li:nth-child(2),
  .footer__nav .nav-ul li:nth-child(3) {
    margin: 0 auto 20px!important;
  }
  .footer__nav .nav-ul li a {
    display: inline-block;
  }
  .footer__logo {
    -webikt-order: 3;
    order: 3;
    margin: 4px auto 0;
  }
}

@media screen and (min-width: 769px) {
.top-panel__info__pic {
  display: none;
}
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 3px;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    margin: 0 0 26px;
  }
  .workflow h2 {
    text-align: left;
  }
  .container {
    background: url(../img/top-bg-mb-white.png) 50% -200px no-repeat;
    background-size: calc(100% - 56px);
  }
  .header-top {
    padding-bottom: 26px;
  }
  .top-panel {
    padding: 0 0 65px;
    margin-bottom: 30px;
    height: 438px;
    position: relative;
  }
  .top-panel__info {
    text-align: center;
  }
  .top-panel__info__text {
    font-size: 19px;
    line-height: 1.57;
  }
  .top-panel__info__text .d-block {
    display: inline;
  }
  .top-panel__info__pic { 
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 65px;
  }
  .top-panel__info__pic img {
  margin: 0 auto;
  }  
  .top-panel__info,
  .about__text {
    padding-left: 0;
  }
  .services-n-production {
    background-position:  100% calc(100% - 503px);
    background-size: 98px;
  }
  .services {
    padding-top: 52px;
    background-size: 59px;
    margin-bottom: 58px;
  }
  .services h2 {
    margin-bottom: 51px;
  }
  .services-item {
    margin-bottom: 28px;
    position: relative;
  }
  .services-item__text__forth .services-item__text__title {
    font-size: 20px;
    margin-bottom: 20px;
}
.hyphenated-ul li {
    line-height: 22px!important;
    padding-left: 13px!important;
    font-size: 14px!important;
  }
  .hyphenated-ul li::before {
    width: 10px;
    height: 1px;
    top: 11px;
  }
  .dotted-ul li::before {
    top: 5px;
  }
  .benefits {
    background-image: url(../img/benefits-bg-mbl.png);
    background-size: cover;
  }
  .benefits-set {
    display: block;
  }
  .benefits-set__item {
    max-width: 100%;
    width: 60%;
    margin: 0 auto 46px;
    padding-left: 144px!important;
    background-position: 0 0!important;
  }
  .contacts h2 {
    margin-bottom: 47px;
  }
  .contacts__feedback-inner {
    padding: 28px 4px 55px;
  }
  .contacts__feedback__intro {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .contact-form-row {
    display: block;
  }
  .contact-form-column:first-child,
  .contact-form-column:last-child {
  max-width: 100%;
}
  .contact-form__input {
    text-align: center;
    padding-left: 20px!important;
  }
  .contact-form__textarea {
    padding: 17px 20px 20px 20px;
  }
  .contact-form__input-wrap {
    margin: 0 auto 22px;
  }
  .contact-form__input:nth-child(2) {
    margin-bottom: 23px;
  }
  .contact-form__textarea-wrap {
    width: 268px;
    height: 111px;
    margin-bottom: 34px;
  }
  .contacts__feedback__consent {
   font-size: 12px;
   margin-bottom: 31px;
  }
  .contacts__feedback__consent .d-block {
    display: inline;
  }
}

@media screen and (max-width: 680px) { 
   .about__text {
    font-size: 15px;
    line-height: 25px;
  } 
  .workflow {
 height: auto;
  }
  .workflow h2 {
    font-size: 19px;
  }
  .workflow__intro {
    font-size: 12px;
    margin-bottom: 24px;
  }
  .workflow-inner {
    padding-left: 0;
  }
  .workflow-plan {
  width: 306px;
  height: 559px;
  margin: 0 auto;
  }

.workflow-plan__item:first-child {
width: 147px;  
top: 117px; 
left: 0;
}
.workflow-plan__item:nth-child(2) {
width: 162px;
top: -3px;
left: 138px;
}
.workflow-plan__item:nth-child(3) {
width: 145px;
top: 199px;
left: 155px;
}
.workflow-plan__item:nth-child(4) {
width: 196px;  
top: 331px;
left: 0;
}
.workflow-plan__item:last-child {
width: 113px;  
top: unset;
left: unset;
bottom: 0;
right: 0;
}
.workflow-plan__item__pic {
  position: relative;
}
.workflow-plan__item__pic::before {
  content: '';
  display: block;
  position: absolute;
}
.workflow-plan__item__pic__first,
.workflow-plan__item__pic__third,
.workflow-plan__item__pic__fifth {
  margin-bottom: 6px;
}

.workflow-plan__item__pic__first::before {
    bottom: 82px;
    left: 90px;
    width: 86px;
    height: 57px;
    background: url(../img/step1-mbl.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__second::before {
top: 79px;
    right: 42px;
    width: 19px;
height: 99px;
    background: url(../img/step2-mbl.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__third::before {
  top: 50px;
  left: unset;
    right: 113px;
  width: 94px;
height: 76px;
background: url(../img/step3-mbl.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__forth::before {
  top: 43px;
  right: -36px;
  width: 91px;
height: 66px;
background: url(../img/step4-mbl.png) 0 0 no-repeat;
}
.workflow-plan__item__pic__first img {
width: 82px;
height: 76px;
margin-left: 37px;
}
.workflow-plan__item__pic__second img {
width: 85px;
height: 76px;
margin-left: 45px;
}
.workflow-plan__item__pic__third img {
width: 72px;
height: 74px;
margin-left: 38px;
}
.workflow-plan__item__pic__forth img {
width: 99px;
height: 72px;
margin-left: 50px;
}
.workflow-plan__item__pic__fifth img {
width: 96px;
height: 72px;
margin-left: 17px;
}
.workflow-plan__item__text {
  font-size: 12px;
  line-height: 17.76px;
}
.workflow-plan__item:nth-child(2) .workflow-plan__item__text {
  margin-bottom: 4px;
}
.workflow-plan__item:nth-child(4) .workflow-plan__item__text {
  margin-bottom: 8px;
}
.workflow-plan__item:last-child .workflow-plan__item__text {
  margin-bottom: 0;
  text-align: center;
}
}
@media screen and (max-width: 600px) { 
  .benefits {
    padding-bottom: 12px;
  }
  .benefits-set__item {
    padding-left: 0!important;
    background-position: 50% 0!important;
    margin-bottom: 34px;
    text-align: center;
    width: 100%;
  }
  .benefits-set__item:first-child {
    padding-top: 113px;
  }
  .benefits-set__item:nth-child(2) {
    padding-top: 91px;
  }
  .benefits-set__item:nth-child(3) {
    padding-top: 110px;
  }
  .benefits-set__item:nth-child(4) {
    padding-top: 111px;
  }
  .benefits-set__item:nth-child(5) {
    padding-top: 112px;
  }
  .benefits-set__item:nth-child(6) {
    padding-top: 114px;
  }
}
@media screen and (max-width: 580px) { 
  .container {
   background-position:  50% -150px;
  }
}
@media screen and (max-width: 520px) { 
.container {
    background-position: 50% -80px;
}
}


@media screen and (max-width: 480px) { 
  .container {
    background: url(../img/top-bg-mb-white.png) 50% 0 no-repeat;
    background-size: 100%;
}
  .services-item__text__forth {
    padding-top: 22px;
  }
  .services-item__text__title {
    text-align: center;
    font-size: 16px!important;
    line-height: 23px!important;
    margin-bottom: 23px;
  }
.services-item__text__forth .services-item__text__title {
  line-height: 30px!important;
}
  .services-item__pic img {
    margin: 0 auto;
  }
  .services-item:first-child .services-item__pic img {
    width: 224px;
    height: 173px;
    top: -14px;
    margin-bottom: -14px;
  }
 .services-item:nth-child(2) .services-item__pic img {
   width: 215px;
   height: 168px;
   top: -17px;
   margin-bottom: -17px;
  }
 .services-item:nth-child(3) .services-item__pic img {
  width: 215px;
  height: 167px;
  top: -15px;
  margin-bottom: -15px;
  }
  .services-item:last-child .services-item__pic {
  width: 216px;
  height: 181px;
  top: -25px;
  margin-bottom: -25px;
  }
  .production h2 {
    margin-bottom: 54px;
}
.contacts {
  padding: 58px 0 0;
}
.contacts h2 {
    margin-bottom: 41px;
}
.footer__mail {
  margin-bottom: 12px;
}
.footer__nav {
margin-bottom: 18px;
}
.footer__nav .nav-ul li, 
.footer__nav .nav-ul li:first-child, 
.footer__nav .nav-ul li:nth-child(2), 
.footer__nav .nav-ul li:nth-child(3) {
    margin: 0 auto 14px!important;
}
}


@media screen and (max-width: 420px) { 
  .about-n-workflow {
    background: url(../img/wave-bg-mbl.png) 50% 100% no-repeat;
    background-size: 100%;
  }
  .about__text {
    text-align: center;
  }
  .workflow {
    padding-top: 28px;
  }
  .workflow h2 {
    margin-bottom: 4px;
}
.workflow__intro {
      margin-bottom: 32px;
}
  .workflow-inner {
    padding: 65px 0 51px;
}
.services-item__text__first {
  padding-bottom: 36px;
}


}